.homepage {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.title {
    font: 90px 'Libre Baskerville', serif;
}

#historyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 500px;
    gap: 15px;
    font: 20px 'Libre Baskerville', serif;
    list-style-type: none;
}

.rhyme-button-style {
    margin-top: 40px;
    cursor: pointer;
    font-size: 20px;
}